node_modules
dist
build
public

.vitepress/dist
.vitepress/cache

*.svg
*.min.{js,mjs,cjs,ts,mts,cts}

rules/base/no-cond-assign/bad.js
rules/base/no-irregular-whitespace/bad.js
rules/base/no-labels/bad.js
rules/base/no-sequences/bad.js
rules/base/no-useless-rename/bad.js
rules/base/no-unsafe-negation/bad.js

rules/react/jsx-fragments/bad.js
rules/react/self-closing-comp/bad.js

rules/vue/html-self-closing/bad.vue
rules/vue/no-irregular-whitespace/bad.vue
